body {
  /* position: relative; */
  margin: 0;
  display: block;
  /* padding-left: 10px; 
   padding-right: 10px; */
  min-height: 100%;
  
  /* height: 2000px; */
  background-color: #ffff56;
}

footer {
  display: block;
  left: 0;
  bottom: 0;

  /* position: absolute; */
  /* top: 300px; */
}